input[type="password"] {
  font-family: auto;
}

.page-top {
  margin-top: 60px;
}

.main {
  min-height: 60vh;
}

.main>.container {
  background-color: #ffffffb5;
}

.loader {
  text-align: center;
}

p {
  word-wrap: break-word;
}

button.right-radius-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.left-radius-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}